{% extends 'core/base.html' %}

{% block title %}
Contact
{% endblock %}

{% block content %}
    <h1 class="mb-4 leading-none text-black lg:text-2xl text-center">
        Term of Use
    </h1>
    <br>
    <ul class="ml-4 list-disc lg:text-xl">
        <li> You agree not to use the Services to:</li>
        <li> Violate any local, state, national, or international law.</li>
        <li> Infringe upon or violate our intellectual property rights or the intellectual property rights of others.</li>
        <li> Transmit any worms or viruses or any code of a destructive nature.</li>
        <li> Spam, phish, pharm, pretext, spider, crawl, or scrape.</li>
        <li> Interfere with or circumvent the security features of the Service or any related website.  </li>
    </ul>
{% endblock %}